.header__lang-link {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  transition: opacity .3s ease-in-out 0s;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:not(:last-child) {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link:not(:last-child) {
    margin-right: 10px;
  }
}
