.popup__image-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 95px;
  top: 0;
  background: url(../../../images/close_btn.svg) no-repeat center;
  border: none;
  cursor: pointer;
  transition: .8s;
}

.popup__image-close-btn:hover {
  scale: 130%;
}

@media screen and (max-width: 767px) {
  .popup__image-close-btn {
    right: 35px;
    top: -35px;
  }
}
